.card {
	background-color: #222;
	margin-bottom: 1rem;
	padding: 1rem;

	.title {
		font-size: 2rem;
		color: rgb(48, 187, 48);
	}

	.body {
		color: #999;
		font-style: italic;
	}

	.important {
		color: tomato;
		font-style: italic;
	}
}